footer.footer
    
    .footer__content
        .footer__space.footer__space--top
            .footer__container
                div.footer__item
                    .footer__logo
                        img(src="uploads/logo.png", alt="")
                        span Официальный дистрибьютор Belzona Polymerics Ltd
                div.footer__item
                    .footer__title О нас
                    ul.footer__ul
                        li
                            a(href="#") 
                                i.fa.fa-angle-double-right
                                | Продукция
                        li
                            a(href="#") 
                                i.fa.fa-angle-double-right
                                | О компании
                        li
                            a(href="#") 
                                i.fa.fa-angle-double-right
                                | Контакты
                div.footer__item
                    .footer__title Помошь
                    ul.footer__ul
                        li 
                            a(href="#") 
                                i.fa.fa-angle-double-right
                                | +7 (999) 999-99-99
                        li 
                            span 
                                i.fa.fa-angle-double-right
                                | Новосибирск, ул. Ленина 21  
                .footer__item.footer__item--social
                    .footer__title Соц. сети
                    a.footer__social-link.main-footer__social-link--instagram(href="javascript:void(0)")
                        i.fa.fa-vk
                    a.footer__social-link.main-footer__social-link--youtube(href="javascript:void(0)")
                        i.fa.fa-instagram
                    a.footer__social-link.footer__social-link--twitter(href="javascript:void(0)")
                        i.fa.fa-twitter
                    a.footer__social-link.main-footer__social-link--fb(href="javascript:void(0)")
                        i.fa.fa-facebook-f
                    
        .divider
        .footer__space.footer__space--bottom
            div.footer__copyright
                span © 2020 Все права защищены / ООО НТЦ «ТехноСиб»